<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwpu.managementserver.mapper.AccountMapper">

    <resultMap id="BaseResultMap" type="com.nwpu.managementserver.domain.Account">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="accountNumber" column="account_number" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="CHAR"/>
            <result property="role" column="role" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account_number,password,
        role
    </sql>
    <insert id="insert">
        insert into account
        (id, account_number, password, role)
        values (#{id,jdbcType=BIGINT}, #{accountNumber,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{role,jdbcType=TINYINT})
    </insert>
    <delete id="deleteByPrisonAdminId">
        delete from account where id in 
        (select account_id from prison_admin where prison_admin.id in
        <foreach collection="idList" open="(" close=")" separator=","  item="item">
            #{item}
        </foreach>
        )
    </delete>
    <delete id="deleteByPoliceIdList">
        delete from account where id in
        (select account_id from police where police.id in
        <foreach collection="idList" open="(" close=")" separator=","  item="item">
            #{item}
        </foreach>
        )
    </delete>
    <delete id="deleteByPrisonId">
        delete from account where id in
        (select account_id from prison_admin where prison_admin.prison_id in
        <foreach collection="idList" open="(" close=")" separator=","  item="item">
            #{item}
        </foreach>
        )
        or id in
        (select account_id from police where police.prison_id in
        <foreach collection="idList" open="(" close=")" separator=","  item="item">
            #{item}
        </foreach>
        )
    </delete>
    <select id="getByAccountNumber" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from account
        where account_number = #{accountNumber,jdbcType=VARCHAR}
    </select>
    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from account
        where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>
