<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwpu.managementserver.mapper.PoliceTrainingMapper">

    <resultMap id="BaseResultMap" type="edu.nwpu.managementserver.domain.PoliceTraining">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="policeId" column="police_id" jdbcType="BIGINT"/>
            <result property="modelId" column="model_id" jdbcType="BIGINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="result" column="result" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,police_id,model_id,
        start_time,end_time,status,
        result
    </sql>
    <update id="setStatus">
        update police_training
        set status = #{status}
        where id = #{id}
    </update>
    <update id="setResultInt">
        update police_training
        set result = #{result}
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete from police_training
        where id = #{id}
    </delete>
    <select id="getByPoliceId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from police_training
        where police_id = #{policeId,jdbcType=BIGINT}
    </select>
    <select id="getNumberTodayFinish" parameterType="long" resultType="int">
        select count(*) from police_training pt
        where pt.end_time >= date_sub(current_date(),interval  1 day)
        and pt.police_id in (select id from police where prison_id = #{prisonId})
    </select>
    <select id="getNumberWeekFinish" parameterType="long" resultType="int">
        select count(*) from police_training pt
        where pt.end_time >= date_sub(current_date(),interval  7 day)
          and pt.police_id in (select id from police where prison_id = #{prisonId})
    </select>
    <select id="getThreeDate" resultType="edu.nwpu.managementserver.vo.PrisonAdminMainPageDynamicVO" parameterType="long">
        select p.name policeName,t.name modelName,pt.end_time endTime from police_training pt,police p,training_model t
        where pt.police_id = p.id and pt.model_id = t.id and p.id in (select id from police where prison_id = #{prisonId})
        limit 3
    </select>
    <select id="getWeeklyStatus" resultType="edu.nwpu.managementserver.vo.PrisonAdminMainPageStatsVO" parameterType="long">
        select t.name modelName ,count(pt.id) numberOfPolice from police_training pt,training_model t
        where pt.model_id = t.id
          and pt.end_time >= date_sub(current_date(),interval 7 day)
          and pt.police_id in (select id from police where prison_id = #{prisonId})
        group by t.id
    </select>

    <select id="getTrainingDynamicListForPolice" resultType="edu.nwpu.managementserver.vo.TrainingDynamicForPoliceVO">
        select pt.id as id,pt.model_id as modelId,t.name as  modelName,pt.status as status,pt.result as result,
               pt.start_time as startTime,pt.end_time as endTime
        from police_training pt,training_model t
        where pt.police_id = #{id} and pt.model_id = t.id and
              ( t.id like concat('%',#{query},'%') or
                t.name like concat('%',#{query},'%') or
                t.description like concat('%',#{query},'%') or
                t.name like concat('%',#{query},'%') )
    </select>

    <select id="queryTrainingDynamicForPrisonAdmin" resultType="edu.nwpu.managementserver.vo.TrainingDynamicVO">
        select pt.id as id,pt.police_id as policeId,p.name as policeName,t.id as modelId,
               t.name  as modelName,pt.status as status,pt.result as result,pt.start_time as startTime ,
               pt.end_time as endTime
        from police_training as pt,police as p,training_model as t,account as a
        where pt.police_id = p.id and pt.model_id = t.id and p.account_id = a.id and
            t.name like concat('%',#{modelName},'%') and p.prison_id = #{prisonId} and
            (  p.name like concat('%',#{police},'%')or a.account_number like concat('%',#{police},'%') )
    </select>

    <insert id="addOne" parameterType="policeTraining">
        insert into police_training value (#{id},#{policeId},#{modelId},#{startTime},#{endTime},#{status},#{result})
    </insert>
    <select id="getTrainingDynamicOrderByTimeDesc" resultType="edu.nwpu.managementserver.vo.AdminDynamicVO">
        select p.name as policeName, tm.name as modelName, pt.start_time as startTime, pt.end_time as endTime
        from police_training as pt, police as p, training_model as tm
        where pt.police_id = p.id and pt.model_id = tm.id
        order by pt.start_time desc
    </select>
    <select id="getWeekTrainingCounts" resultType="java.lang.Integer">
        select count(id)
        from police_training
        where YEARWEEK(date_format(start_time,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
    </select>
    <select id="getTodayTrainingCounts" resultType="java.lang.Integer">
        select count(id)
        from police_training
        where TO_DAYS(start_time) = TO_DAYS(NOW())
    </select>
    <select id="getStatus" resultType="java.lang.Integer">
        select status
        from police_training
        where id = #{id}
    </select>
    <select id="getById" resultType="edu.nwpu.managementserver.domain.PoliceTraining">
        select  <include refid="Base_Column_List"/>
        from police_training
        where id = #{id}
    </select>
</mapper>
