<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwpu.managementserver.mapper.PoliceMapper">

    <resultMap id="BaseResultMap" type="edu.nwpu.managementserver.domain.Police">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
            <result property="prisonId" column="prison_id" jdbcType="BIGINT"/>
            <result property="accountId" column="account_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,image_url,
        prison_id,account_id
    </sql>
    <select id="getPoliceListByNameLike" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from police
        where `name` like concat('%', #{query,jdbcType=VARCHAR}, '%') and prison_id = #{prison_id}
    </select>
    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from police
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="getList" parameterType="police" resultMap="BaseResultMap">
        select * from police
    </select>
    <select id="getPoliceByAccountId" resultMap="BaseResultMap">
        select * from police where account_id = #{id}
    </select>

    <insert id="save" parameterType="police">
        insert into police value (#{id},#{name},#{imageUrl},#{prisonId},#{accountId})
    </insert>
    <update id="updateById" parameterType="police">
        update police set name=#{name},image_url=#{imageUrl},prison_id=#{prisonId},account_id=#{accountId} where id = #{id}
    </update>
    <delete id="deleteByIdList">
        delete from police where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item,jdbcType=BIGINT}
        </foreach>
    </delete>

</mapper>
