<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwpu.managementserver.mapper.PrisonMapper">

    <resultMap id="BaseResultMap" type="edu.nwpu.managementserver.domain.Prison">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name
    </sql>
    <insert id="insert">
        insert into prison
        (id, name)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR})
    </insert>
    <delete id="deleteById">
        delete from prison where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item,jdbcType=BIGINT}
        </foreach>
    </delete>
    <select id="getByName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from prison
        where name = #{name,jdbcType=VARCHAR}
    </select>
    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from prison
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="getAllByNameLike" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from prison
        where name like concat('%', #{query,jdbcType=VARCHAR}, '%')
    </select>
    <select id="getPrisonNameList" resultType="string">
        select `name` from prison
    </select>
</mapper>
