<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwpu.managementserver.mapper.PrisonAdminMapper">

    <resultMap id="BaseResultMap" type="edu.nwpu.managementserver.domain.PrisonAdmin">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="accountId" column="account_id" jdbcType="BIGINT"/>
            <result property="prisonId" column="prison_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,account_id,
        prison_id
    </sql>
    <insert id="insert">
        insert into prison_admin
        (id, nickname, account_id, prison_id)
        values (#{id,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, #{accountId,jdbcType=BIGINT}, #{prisonId,jdbcType=BIGINT})
    </insert>
    <delete id="deleteById">
        delete from prison_admin where id in 
        <foreach collection="idList" open="(" close=")" separator=","  item="item">
            #{item,jdbcType=BIGINT}
        </foreach>
    </delete>
    <delete id="deleteByPrisonId">
        delete from prison_admin where prison_id in
        <foreach collection="idList" open="(" close=")" separator=","  item="item">
            #{item,jdbcType=BIGINT}
        </foreach>
    </delete>

    <select id="getPrisonIdByAccountId" parameterType="long" resultType="long">
        select prison_id from prison_admin where account_id = #{id}
    </select>

    <select id="getByAccountId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from prison_admin
        where account_id = #{accountId,jdbcType=BIGINT}
    </select>
    <select id="getAllLike" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from prison_admin
        where nickname like concat('%', #{query,jdbcType=VARCHAR}, '%')
        or prison_id in (
            select id from prison where name like concat('%', #{query,jdbcType=VARCHAR}, '%')
        )
        or account_id in (
            select id from account where account_number like concat('%', #{query,jdbcType=VARCHAR}, '%')
        )
    </select>
    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from prison_admin
        where id = #{id}
    </select>

    <update id="updatePrisonAdminName">
        update prison_admin set nickname = #{newNickname} where id = #{prisonAdminId}
    </update>
</mapper>
