<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwpu.managementserver.mapper.PrisonAdminMapper">

    <resultMap id="BaseResultMap" type="com.nwpu.managementserver.domain.PrisonAdmin">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="accountId" column="account_id" jdbcType="BIGINT"/>
            <result property="prisonId" column="prison_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,account_id,
        prison_id
    </sql>
</mapper>
