<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwpu.managementserver.mapper.RefreshTokenMapper">

    <resultMap id="BaseResultMap" type="com.nwpu.managementserver.domain.RefreshToken">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,subject,token
    </sql>
    <insert id="insert">
        insert into refresh_token
        (id, subject, token)
        values (#{id,jdbcType=BIGINT}, #{subject,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR})
    </insert>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from refresh_token
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteAllBySubject">
        delete from refresh_token
        where subject = #{subject,jdbcType=VARCHAR}
    </delete>
</mapper>
