<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwpu.managementserver.mapper.TotalAssessMapper">

    <resultMap id="BaseResultMap" type="com.nwpu.managementserver.domain.TotalAssess">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="policeId" column="police_id" jdbcType="BIGINT"/>
            <result property="mentalPercentList" column="mental_percent_list" jdbcType="VARCHAR"/>
            <result property="result" column="result" jdbcType="BOOLEAN"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,police_id,mental_percent_list,
        result,description,create_time,update_time
    </sql>
</mapper>
