<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwpu.managementserver.mapper.TrainingModelMapper">

    <resultMap id="BaseResultMap" type="edu.nwpu.managementserver.domain.TrainingModel">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="enable" column="enable" jdbcType="TINYINT"/>
            <result property="priority" column="priority" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        enable,priority
    </sql>
    <select id="getModelListForPrisonAdmin" resultMap="BaseResultMap">
        select * from dachaung.training_model where enable = 1;
    </select>
</mapper>
